root = true

[*]
indent_style = space
indent_size = 4

[*.{html,js,jsx,ts,tsx,css,scss,json,yml,yaml,md}]
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
quote_type = single
bracket_spacing = true
multiline_object_trailing_comma = true
jsx_bracket_same_line = true
wrap_attributes = "auto"
sort_attributes = true
