@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
   @apply overflow-hidden bg-neutral-800;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollable {
  @apply pb-16 overflow-y-auto pointer-events-auto
}

@keyframes loading {
  75%, 100% {
    transform: rotate(-90deg);
  }
}