@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'offbit';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/OffBit-DotBold.ttf') format('truetype');
}

@font-face {
    font-family: 'jw sans';
    font-style: normal;
    font-weight: 400; /* This is usually the weight for Regular style */
    font-display: swap;
    src: url('/fonts/jw-sans/JW.Sans-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'jw sans';
    font-style: normal;
    font-weight: 500; /* This is usually the weight for Medium style */
    font-display: swap;
    src: url('/fonts/jw-sans/JW.Sans-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'jw sans';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/jw-sans/JW.Sans-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'jw sans';
    font-style: normal;
    font-weight: 300; /* Light style usually has a font weight of 300 */
    font-display: swap;
    src: url('/fonts/jw-sans/JW.Sans-Light.otf') format('truetype');
}

html,
body {
    @apply overflow-x-hidden bg-light;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollable {
    @apply pb-20 overflow-y-auto pointer-events-auto;
}

.mask-project {
    mask: url('/masks/mask1.svg');
    mask-size: cover;
}

.searchbar {
    background-size: auto 100%;
    @apply relative bg-searchbar bg-repeat-space after:bg-searchborder after:bg-searchBorder after:absolute after:top-0 after:right-0 after:h-full after:w-4 after:translate-x-full after:rotate-180 after:bg-no-repeat after:bg-right before:bg-searchborder before:bg-searchBorder before:absolute before:top-0 before:left-0 before:h-full before:w-4 before:-translate-x-full before:bg-no-repeat before:bg-right;
}

@keyframes loading {
    75%,
    100% {
        transform: rotate(-90deg);
    }
}
